// Blue Call

.blue-callout-element {
	padding: 20px 20px 5px;
	border-radius: 10px;
	background-color: rgba(0, 142, 255, 0.1);
	margin-bottom: 30px;
}
.blue-callout-element.bold-sentence {
	padding: 24px;
	margin-bottom: 32px;
	margin-top: 32px;
	p {
		margin-bottom: 0px;	
		font-size: 24px !important;
		color: #006ade;
		font-weight: bold;
		line-height: 1.5;
	}
}
