// Cookie Notice

#cookie-law-info-bar {
	font-size: 15px !important;
	text-align: center !important;
	span {
		a.cli-plugin-button {
			padding: 8px 16px 8px !important;
			color: #fff !important;
			border-radius: 5px !important;
			-moz-border-radius: 5px !important;
			-webkit-border-radius: 5px !important;
			line-height: 1.5 !important;
			margin: auto !important;
			margin-left: 10px !important;
			margin-right: 10px !important;
			max-width: 100px;
		}
		color: #fff !important;
		a {
			color: #0098d9 !important;
		}
	}
	.cookie-bar-close {
		font-weight: 900;
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 20px;
		color: #fff !important;
		padding: 0 !important;
		&:hover {
			cursor: pointer;
		}
	}
	.cookie-accept-reject {
		display: flex;
		justify-content: center;
	}
	#wt-cli-reject-btn {
		border: 1px solid #fff;
		&:hover {
			opacity: 0.8;
		}
	}
	#wt-cli-accept-btn {
		border: 1px solid #008eff;
		&:hover {
			background-color: #008eff !important;
			border: 1px solid #008eff;
			opacity: 0.8;
		}
		&:focus {
			background-color: #008eff !important;
			border: 1px solid #008eff;
			opacity: 0.8;
		}
	}
	.cookie-notice-container {
		display: flex;
		padding: 0 80px;
	}
}
.cookie-bar-close {
	&:before {
		position: absolute;
		content: ' ';
		height: 15px;
		width: 2px;
		top: 3px;
		background-color: #fff;
		transform: rotate(45deg);
	}
	&:after {
		position: absolute;
		content: ' ';
		height: 15px;
		width: 2px;
		top: 3px;
		background-color: #fff;
		transform: rotate(-45deg);
	}
}
#cookie_hdr_showagain {
	color: #fff !important;
}
.wt-cli-non-eu-country {
	.gdpr-cookie-message {
		display: none;
	}
}
.wt-cli-eu-country {
	.ccpa-cookie-message {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	#cookie-law-info-bar {
        font-size: 10px !important;
		.cookie-notice-container {
			flex-direction: column;
			padding: 0 10px;
		}
		span {
			a.cli-plugin-button {
				margin-top: 10px !important;
			}
		}
		.cookie-accept-reject {
			margin-top: 10px;
		}
	}
}
