// Elementor Styles


.elementor-page {
    
    #primary {
          padding-top: 165px;

    }
    
    h1, h1 span {
        font-size: 36px;
        line-height: 1;
        margin-top: 50px;
        
    } 
    
     h2, h2 span {
        font-size: 30px;
        line-height: 1;
        margin-top: 20px;
        
    } 
    
     h3, h3 span {
        font-size: 24px;
        line-height: 1;
        margin-top: 20px;
        
    } 
    
     h4, h4 span {
        font-size: 15px;
        line-height: 1;
        
        
    } 
    #main p {
        font-size: 16px;
        line-height: 25px;
    }
    
    p {
        line-height: 25px;
    }
    
    
 @media only screen and (max-width: 767px) {
       h1,   h1 span{
         font-size: 26px !important;
         line-height: 29px !important;
    }
       h2{
         font-size: 24px !important;
         line-height: 27px !important;
    }
       h3{
         font-size: 14px !important;
         line-height: 25px !important;
    }
       h4{
         font-size: 19px !important;
         line-height: 22px !important;
    }
       h5{
         font-size: 16px !important;
         line-height: 19px !important;
    }
       h6{
         font-size: 14px !important;
         line-height: 17px !important;
    }
}
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
       h1,   h1 span{
         font-size: 36px !important;
         line-height: 39px !important;
    }
       h2{
         font-size: 32px !important;
         line-height: 36px !important;
    }
       h3{
         font-size: 28px !important;
         line-height: 32px !important;
    }
       h4{
         font-size: 24px !important;
         line-height: 27px !important;
    }
       h5{
         font-size: 20px !important;
         line-height: 23px !important;
    }
       h6{
         font-size: 18px !important;
         line-height: 21px !important;
    }
}
    
}