// Ip Identification Banner
.identification_banner{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #FD3824 0%, #E40201 100%);
	position: relative;
	z-index: 251;
	padding: 7px 0;
	.identification_banner_inner{
		justify-content: space-between;
		align-items: center;
		h6{
			color: $white;
			letter-spacing: 0.5px;
			@media screen and (max-width: $small-mobile-screen) {
				font-size: 10px;
				letter-spacing: 0;
			}
			span{
				color: $white;
				font-weight: 400;
				
			}
			a{
				color: $white;
				i{
					color: $white;
					font-size: 20px;
    				font-weight: 900;
					vertical-align: top;
					margin-left: 12px;
					@media screen and (max-width: $small-mobile-screen) {
						font-size: 17px;
						margin-left: 4px;
					}
				}
			}
			&.identification_banner_ip{
				@media screen and (max-width: $small-tablet-screen) {
					display: none;
				}
			}
		}
	}
}